<!-- Primary Author: Sylvan -->

<!-- Split.li general information -->
<div class="container">
    <div class="index-jumbotron jumbotron">  
      <h1 class="index-header">Split.li</h1>  
    </div>
    <p>
    	<b><i>Split.li</i></b>: an app that allows friends to evenly split a bill at a restaurant. Simply input your friends' names onto our receipt, along with the total amount (subtotal + tax) and tip. Split.li will do all the math by dividing the costs evenly and sending your friends Venmo charges.
    </p>
</div>