<!-- Primary Author: Katie -->

<!-- login page - default home when not logged in -->
<div class="container theme-showcase">
  <div class="jumbotron index-jumbotron">
    <h1 class="index-header">Welcome to Split.li!</h1>
    <p class="index-header"><a href="/auth/venmo" class="btn btn-primary btn-lg">Sign in with Venmo &raquo;</a></p>
  </div>
</div>